<%- include('includes/cabecalho.ejs') %>

    <% if alunos.length > 0 {%>

    <% } else { %>
        <div>
            Nenhum registro cadastrado
        </div>
    <% }%>

<%- include('includes/rodape.ejs') %>